@import 'highlight.js/styles/stackoverflow-light.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

* {
  box-sizing: border-box;
}

@media (max-width: 768px) {
  body {
    overflow-x: hidden;
    max-width: 100vw;
  }
}
